.titlebox1{
    font-family: 'Inter', sans-serif;
    transform: translate(-9px, -9px);
    height: 117px;
    width: 30%;
    border: solid black;
}


.webtitle{
    transform: translate(10px, -15px);
    font-size: 30px;
    vertical-align: middle;
}

.recipeholder{
    padding-top: 130px;
    padding-bottom: 130px;
    transform: translateX(-10px);
    font-family: 'Inter', sans-serif;
    display: flex;
    width: 101%;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: rgb(177, 177, 177);
}

a{
    text-decoration: none;
    color: white;
}

.recipe{
    text-align: center;
    display: flex;
    padding: 30px;
    text-decoration: none;
    color: white;
    background-color: rgba(55, 55, 55, 1);
}

.recipeicons{
    transform: translateY(-20px);
    display: flex;
    align-items: center;
}

.recipeinfo{
    padding-left: 25px;
}

.recipeiconimg{
    padding-left: 10px;
    float: left;
}

.recipeicontext{
    text-align: center;
    font-size: 14px;
    transform: translateY(11px);
    float:right;
}

.recipedesc{
    transform: translateY(-15px);
    width: 275px;
    font-weight: 100;
}